.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    position: relative;

    h1 {
      font-family: $font-1;
      font-weight: 700;
      font-size: 2.57rem;
      line-height: 3.86rem;
      text-transform: uppercase;
      color: $light;
    }

    svg {
      position: absolute;
      top: -1.5rem;
      right: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  .App__container {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
  }
}

@media screen and (max-width: 450px) {
  .App__container {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
  }
}

@media screen and (max-width: 400px) {
  .App__container {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}

@media screen and (max-width: 370px) {
  .App__container {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
  }
}

@media screen and (max-width: 340px) {
  .App__container {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
}

@media screen and (max-width: 310px) {
  .App__container {
    transform: scale(0.65);
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
  }
}
